@page
@model AuthorAnne.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container" id="Me">
    <div class="row">
        <div class="col-md">
            <h2>About Me</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/AnneWilson.jpg" alt="Anne Wilson" class="img-fluid Headshot" />
        </div>
        <div class="col-md-9 align-self-center">
            <p>
                I was born and grew up on the west coast but currently live in the Surrey Hills. My short stories mostly have a supernatural slant, influenced by both Mother Nature and human nature.
            </p>
            <p>
                I have harboured aspirations to be a writer ever since, as a child I discovered how books could take you to places you had never been and show you things you had never seen. Since finally tackling my keyboard in earnest, in addition to short stories, I have had a varied assortment of poems, letters and column inches published. These keep you motivated when your book seems to be taking a lifetime to finish.
            </p>
        </div>
    </div>

    <hr id="Writing" />

    <div class="row">
        <div class="col-md">
            <h2>About Writing</h2>
            <p>
                <strong>I often have my brains picked by would-be authors hoping to publish their work, so have decided to share my own cautionary tale here. Being a writer/becoming an author, has many learning curves of which self-publishing was, and continues to be, the greatest.</strong>
            </p>
            <p>
                <strong>My advice</strong> to anyone out there considering self-publishing and hoping to sell would be three-fold:
                <ul>
                    <li>
                        <strong>Set aside a decent marketing budget.</strong> In addition to the cost of publishing, you will need funds for buying in quantities of your book, to both sell and give away, paying for advertising, book videos, and obtaining as many good reviews and quotes as possible.
                    </li>
                    <li>
                        <strong>Be social media savvy</strong> and as involved as possible and be confident, persistent and ambitious in utilising that knowledge; difficult territory for some (me)!
                    </li>
                    <li>
                        <strong>A good commercial cover.</strong> Never underestimate the importance of the books cover. Professionals do it best.
                    </li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <img src="~/images/HereBeDragons2014.png" alt="Here Be Dragons Cover" class="img-fluid BookFrontCover" />
        </div>
        <div class="col-md-10 align-self-center">
            <p>
                My own effort could have been improved!
            </p>
        </div>
    </div>

    <hr id="Tips"/>

    <div class="row">
        <div class="col-md">
            <h2>Tips</h2>
            <p>
                <strong>A growing number</strong> of commercial publishers open short reading windows for unpublished authors to have a sample of their work read, thus dispensing with the services of an agent.
            </p>
            <p>
                <strong>There are also competitions</strong> where parts of your manuscript may gain a referral to a mainstream publisher as a prize.
            </p>
            <p>
                <strong>Interest</strong> is more likely to be generated if the author has a second, and ideally third, book in the pipeline.
            </p>
            <p>
                Finally, feel free to contact me with any writing related comments or questions. I was an Agony Aunt once but that's another story.
            </p>
        </div>
    </div>

    <hr id="FirstNovel" />

    <div class="row">
        <div class="col-md">
            <h2>About My First Novel</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="~/images/Here-Be-Dragons-Cover-2014.png" alt="Here Be Dragons Front Cover" class="img-fluid BookFrontCover" />
        </div>
        <div class="col-md-9 align-self-center">
            <p>
                <strong>Here Be Dragons</strong> has been featured on <strong>Readers' Favourite, Goodreads and Pinterest</strong> websites, and also in <strong>Writers News</strong> in <strong>Writing Magazine</strong>. It can currently be found in: <strong>Writing Magazine's Subscriber Showcase: <a href="http://writ.rs/subsshowcase" target="_blank" rel="noopener">http://writ.rs/subsshowcase</a></strong>
            </p>
            <p>
                <strong>It has also, to date, achieved 2,176 Likes on Facebook - but what does that mean???</strong>
            </p>
            <p>
                The  inspiration came from the amazing places I had visited and the cast of colourful characters I had encountered whilst living on the island of Mallorca.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <p>
                I wrote early key chapters as assignments whilst achieving a Batchelor of Arts (Hons) Open Degree with the Open University in 2010. This took me through Advanced Creative Writing and Linguistics; touching on Social Sciences, World Archaeology, Art History and Complementary and Alternative Therapies along the way. These key chapters were subsequently listed in <strong>UK Authors Opening Pages</strong> competition and went on to receive praise and encouragement from a number of professional sources; I decided I had a potential novel and <a href="http://www.amazon.co.uk/gp/product/1625161727" target="_blank" rel="noopener">Here Be Dragons</a> began to take shape.
            </p>
            <p>
                I finished my final edit in January 2013, sending it out to my chosen editor, Tony Fyler of Jefferson Franklin Editing, to whom I am very grateful, and my chosen publishers, SBPRA, for its journey into print.
            </p>
            <p>
                Meanwhile, during periods when I lost the plot, I topped up my research, which was necessarily considerable as parts of the book are set in Denmark where I have never been but would now very much like to visit. I also wrote short stories and memoir in order to have a change of scene, literally.
            </p>
            <p>
                Below are brief excerpts from the first two chapters of Here Be Dragons, introducing the main protagonists, Anna, Nils, and the Dragon, followed by a quote from my editor.
            </p>
            <p>
                <strong>Anna meets Nils...</strong> <em>Nils' focus slipped away into the middle distance; Anna sipped her coffee and brushed imaginary crumbs off her lap, offering a vague smile to no one in particular. The Dragon waited...</em>
            </p>
            <p>
                <em>Nils' focus swung back. "Some of my favourite ancestors, the Vikings, knew of dragons. They journeyed where the faint-hearted dared not go; into unmapped regions of land and water. And my home is a Spanish cave-house."</em>
            </p>
            <p>
                <em>What was it his cologne made her think of? Ozone from the sea, surf foaming on a beach, wind chimes tinkling somewhere; or was that ice in a glass? Duck-egg coloured sky, in England, no, not in England . . . Anna closed her eyes; the coffee machine hissed out a burst of steam, long grasses swished softly in a light breeze; tall flower stems bent their heads towards her; she heard whispering...</em>
            </p>
            <p>
                <strong>Inside the cave-house . . .</strong> An old Florentine mirror the size of a door was propped against one wall. It reflected the room's uneven dimensions and textured surfaces, lending them a curious lustre. Light from a church candle flickering in a wall sconce scattered constellations around the chamber from the mirror's pitted silvering.
            </p>
            <p>
                <em>The existence of further space beyond the bathroom was suggested by a custom-built, low wooden door set into the uneven wall. Fuelled by curiosity, Anna gripped the tarnished door-knob and twisted it. Stiffly resistant at first, it released suddenly. The widening aperture allowed trapped humid air to escape through the room, dragging impenetrable darkness forwards with it.</em>
            </p>
            <p>
                <strong>Anna's apartment...</strong> <em>Her small apartment block was in the increasingly unfashionable area at the back of Palma Nova. It hid its shabby facade behind a fuchsia coloured cladding of bougainvillea, threaded through with thick black loops of electric cable.</em>
            </p>
            <p>
                <em>Anna liked the fact that hers was the fourth floor, which was the top, even though the old block was lacking a lift.</em>
            </p>
            <p>
                <em>During the day the shrill chirr of cicadas in the surrounding shrubbery reached fever pitch. At night, nameless things scurried across the flat roof and night-things screeched. Feral cats hunted who-knew-what in the darkness below. Pine cones dropped onto the balcony and the bougainvillea rustled like pages turned by an invisible hand.</em>
            </p>
            <p>
                <strong>The Dragon...</strong> <em>Rather larger and not quite as she had imagined, he seemed to be travelling towards her from a frozen north.</em>
            </p>
            <p>
                <em>His domain stretched behind him where giant ice flows creaked and cracked constantly in a vast white silence. He had followed strong currents flowing fast and deep beneath ice fields where the snow-crust glittered like lakes of diamonds and great glaciers loomed blue and black under an unearthly arctic moon. He rode the turbulence of the mighty West winds, journeying alone, sweeping down through the northern hemisphere, down across the continent of Europe until the Earth grew too warm.</em>
            </p>
            <p>
                <em>Under cover of darkness, his contours shape-shifted; his skin the colour of dull cold steel, its surface glimmering; his eyes a pale stormy flicker.</em>
            </p>
            <p>
                <em>As Anna slipped deeper into sleep she found herself taken with him to the back of his cave. Gnarled, scaled fingers carefully opened the door of his large cupboard of interesting treasures beginning with B.</em>
            </p>
            <p>
                <strong>And my editor said:</strong>
            </p>
            <p>
                A very enjoyable book; a fascinating and original take on dragons as agents of fate, with resonances of many modern classic novels.
            </p>
            <p>
                The author clearly has a gift for speech patterns and rhythms and Anna's friends are all fizzingly alive which recommends the book on the basis of its characterization.
            </p>
            <p>
                The plot builds to some spectacular moments as the reader is kept hooked and guessing to the end, with no option but to turn the page.
            </p>
            <p>
                <strong><em>Thanks Tony!</em></strong>
            </p>
            <p>

            </p>
        </div>
    </div>
</div>