@page
@model AuthorAnne.Pages.AnthologiesModel
@{
    ViewData["Title"] = "Anthologies";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>Anthologies Including a Story of Mine</h2>
            <p>
                Anthologies which each include one of my stories with <em>On The Day of the Dead</em> using my story title for the cover. Plus Hysteria 2 and Hysteria 5 which I was priviledged to help judge; all jolly good selections.
            </p>
            <p>
                I particularily recommend all three books from <em>Writers Abroad</em>, the proceeds of which go to <em>Book Aid International</em>, and also <em>Write to Meow</em>, which supports New Beginnings Animal Rescue in Michigan, USA. A very enjoyable read especially for cat-lovers!
            </p>
        </div>
    </div>
</div>