@page
@model AuthorAnne.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>Reviews</h2>
            <ul>
                <li>
                    The Wishing Shelf Book Awards 2014 for Here Be Dragons
                </li>
                <li>
                    Readers' Comments
                </li>
                <li>
                    Here Be Dragons:
                </li>
                <li>
                    Reviewed by Jack Magnus for Readers' Favorite (5 STARS)
                </li>
                <li>
                    Reviewed by Diane Donovan: Senior Reviewer for The Midwest Book Review
                </li>
                <li>
                    Reviewed by Kayti Nika Raet for Readers' Favorite (4 STARS)
                </li>
                <li>
                    Reviewed by Tania Staley for Readers' Favorite (4 STARS)
                </li>
            </ul>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md">
            <h2>The Wishing Shelf Book Awards 2014 for Here Be Dragons</h2>
            <p>
                Four stars/highly recommended. Out of seventeen readers, fifteen would read another book by this author.
            </p>
        </div>
    </div>
</div>