@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-3 text-center">
            <img src="~/images/AnneWilson.jpg" alt="Anne Wilson" class="img-fluid Headshot" />
        </div>
        <div class="col-lg-10 col-md-9 align-self-center">
            <h2>Welcome to My Website!</h2>
            <p>
                <h3>Current news:</h3>

                <strong>Black Pear Press</strong> have now published their current anthology using the title of my short story as the book title - <strong>On The Day of The Dead</strong>. A good selection of stories!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-9 align-self-center">
            <p>
                Have been taken on as a reader for <strong>Woman and Home's Reading Room</strong> and <strong>The Light between Oceans by M L Stedman</strong> is on its way to me. <strong>Update</strong> - I loved this book. I thought it an original story all about love and its moral dilemma pulls painfully at the the heartstrings.
            </p>
        </div>
        <div class="col-lg-2 col-md-3 text-center">
            <img src="~/images/AnneAndRobin.jpg" alt="Anne Wilson with her son" class="img-fluid Headshot" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-3 text-center">
            <img src="~/images/AnneWilson2.jpg" alt="Anne Wilson" class="img-fluid Headshot" />
        </div>
        <div class="col-lg-10 col-md-9 align-self-center">
            <p>
                My first chapter of <strong>A Bundle of Bones</strong> is <strong>runner-up</strong> in the <strong>International PENfro Book Festival First Chapter Competition</strong>. (Winner from Norway).Traveled to Wales for weekend festival and feedback from judge and talent scout <strong>David Llewelyn</strong>. Great weekend in 'the valleys', doing workshop and meeting successful author, Owen Shears. Motivational!
            </p>
            <p>
                Finished judging this year's <strong>Hysteria</strong> writing competition in the short story category. Awaiting final results to be posted. Visit: <a href="http://www.hysteriauk.co.uk" target="_blank">www.hysteriauk.co.uk</a>
            </p>
        </div>
    </div>

    <div class="row Spacer">
        <div class="col-md">
            <p>
                <strong>One of three winners, out of over 150 entries, of the Tacchi-Morris Art Centre (Taunton, Devon)Creative Writing Comp. 'The Page is Printed'.</strong>
            </p>
            <p>
                Couldn't attend on the night; my page was read out by Poet in Residence, Graham. <strong>Thanks Graham!</strong>
            </p>
            <p>
                The original blue and green cover of <strong>Here Be Dragons</strong> is now out of print with my American publishers; however under the red cover, the book is available on <strong>Kindle</strong> and is also available in the grey and orange cover (with apples) on <strong>FeedARead</strong>.
            </p>
            <p>
                <strong>FTB Press</strong> have published my second short story with them; <strong>"A Nature Story"</strong>, in their latest anthology <strong>Oddities</strong>.
            </p>
            <p>
                <strong>Write To Meow</strong>, an anthology produced by <strong>Grey Wolfe Publishing</strong>, selected one of my stories, <strong>"Spotty's Story"</strong>, to raise funds for an animal charity in Michigan, USA. Cat/animal lovers will love a book of stories about cats.
            </p>
            <p>
                Following <strong>'Here Be Dragons'</strong> I have finished penning my second novel, <strong>'A Bundle of Bones'</strong>. In the village of Silverdale at the top of Morecambe Bay, a mysterious death is followed by sightings of a supernatural creature. The story travels back to the time of the Vikings and forward to Blackpool in the present.
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md">
            <h2>Being a Writer / Becoming an Author</h2>
            <p>
                <em>I sometimes have my brains picked by would-be authors hoping to publish their work, so have decided to share my own cautionary tale here. Being a writer/becoming an author, has many learning curves of which self-publishing was, and continues to be, the greatest.</em>
            </p>
            <p>
                <em>My advice</em> to anyone out there considering self-publishing and hoping to sell would be three-fold:
                <ul>
                    <li>
                        <em>Set aside a decent marketing budget</em>. In addition to the cost of publishing, you will need that and then some, for buying in quantities of your book, to both sell and give away, paying for advertising, book videos, and obtaining as many good reviews and quotes as possible.
                    </li>
                    <li>
                        <em>Be social media savvy</em> and as involved as possible and be confident, persistent and ambitious in utilising that knowledge; difficult territory for some (me)!
                    </li>
                    <li>
                        <em>A good commercial cover</em>. Never underestimate the importance of the book's cover. Professionals do it best.
                    </li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <img src="~/images/HereBeDragons2014.png" alt="Here Be Dragons Cover" class="img-fluid BookFrontCover" />
        </div>
        <div class="col-md-10 align-self-center">
            <p>
                My own effort could have been improved!
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md">
            <h2>Tips</h2>
            <p>
                <em>A growing number</em> of commercial publishers open short reading windows for unpublished authors to have a sample of their work read, thus dispensing with the services of an agent (if successful!)
            </p>
            <p>
                <em>There are also competitions</em> where parts of your manuscript may gain a referral to a mainstream publisher as a prize.
            </p>
            <p>
                <em>Interest</em> is more likely to be generated if the author has a second, and ideally third, book in the pipeline.
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md">
            <h2>Contact Me</h2>
            <p>
                Finally, feel free to contact me with any writing related comments or questions. I was an Agony Aunt once but that's another story.
            </p>
        </div>
    </div>
</div>