@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row" id="Welcome">
        <div class="col-md">
            <h2>Welcome to My Website</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-3 text-center align-self-center">
            <img src="~/images/AnneWilson2.jpg" alt="Anne Wilson" class="img-fluid Headshot" />
        </div>
        <div class="col-lg-10 col-md-9 align-self-center">
            <p>
                I have harboured aspirations to be a writer ever since, as a child I discovered how books could take you to places you had never been and show you things you had never seen. Most of my work involves an otherworldly element entering the lives of ordinary people, mixing the everyday with the supernatural.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-9 align-self-center">
            <p>
                I grew up on the west coast of England and moved to live in the north east where I taught literacy and art in junior schools. I also lived for several years in Mallorca.
            </p>
            <p>
                In 2010 I gained a BA Hons in Advanced Creative Writing and since then have completed two novels. The first, Sleeping With The Dragon, is set in Mallorca and Denmark, and the second, Owl Light, is set around Morecambe Bay. I also have winning short stories published in 16 anthologies and have judged for two short story comps. Short stories can keep you motivated when your book seems to be taking a lifetime to finish.
            </p>
        </div>
        <div class="col-lg-2 col-md-3 text-center">
            <img src="~/images/AnneAndRobin.jpg" alt="Anne Wilson with her son" class="img-fluid Headshot" />
        </div>
    </div>

    <hr />
</div>