@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row" id="Welcome">
        <div class="col-md">
            <h2>Welcome to My Website</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-3 text-center align-self-center">
            <img src="~/images/AnneWilson2.jpg" alt="Anne Wilson" class="img-fluid Headshot" />
        </div>
        <div class="col-lg-10 col-md-9 align-self-center">
            <p>
                What can I say?
            </p>
            <p>
                My favourite things are reading and writing and exploring my environment for ideas to read and write about.
            </p>
            <p>
                This is my story which is rather ordinary but I would love to inspire others to have a go at writing.
            </p>
            <p>
                I have harboured aspirations to be a writer ever since, as a child I discovered how books could take you to places you had never been and show you things you had never seen. Most of my work involves an otherworldly element entering the lives of ordinary people, mixing the everyday with the supernatural.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-9 align-self-center">
            <p>
                I grew up on the west coast of England and moved to live in the north east where I taught literacy and art in junior schools. I also lived for several years in Mallorca.
            </p>
            <p>
                In 2010 I gained a BA Hons in Advanced Creative Writing and since then have completed two novels. The first, A Work of Fiction, is set in Mallorca and Denmark, and the second, A Bundle of Bones, is set around Morecambe Bay. I also have winning short stories published in 16 anthologies and have judged for two short story comps. Short stories can keep you motivated when your book seems to be taking a lifetime to finish.
            </p>
        </div>
        <div class="col-lg-2 col-md-3 text-center">
            <img src="~/images/AnneAndRobin.jpg" alt="Anne Wilson with her son" class="img-fluid Headshot" />
        </div>
    </div>

    <hr id="Writing" />

    <div class="row">
        <div class="col-md">
            <h2>Being a Writer / Becoming an Author</h2>
            <p>
                <em>I sometimes have my brains picked by would-be authors hoping to publish their work, so have decided to share my own cautionary tale here. Being a writer/becoming an author, has many learning curves of which self-publishing was, and continues to be, the greatest.</em>
            </p>
            <p>
                <em>My advice</em> to anyone out there considering self-publishing and hoping to sell would be three-fold:
                <ul>
                    <li>
                        <em>Set aside a decent marketing budget</em>. In addition to the cost of publishing, you will need that and then some, for buying in quantities of your book, to both sell and give away, paying for advertising, book videos, and obtaining as many good reviews and quotes as possible.
                    </li>
                    <li>
                        <em>Be social media savvy</em> and as involved as possible and be confident, persistent and ambitious in utilising that knowledge; difficult territory for some (me)!
                    </li>
                    <li>
                        <em>A good commercial cover</em>. Never underestimate the importance of the book's cover. Professionals do it best.
                    </li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-6 text-center">
            <img src="~/images/HereBeDragons.png" alt="Here Be Dragons Cover" class="img-fluid BookFrontCover" />
        </div>
        <div class="col-md-2 col-6 text-center">
            <img src="~/images/HereBeDragons2014.png" alt="Here Be Dragons Cover" class="img-fluid BookFrontCover" />
        </div>
        <div class="col-md-8 align-self-center">
            <p>
                My own efforts could have been improved!
            </p>
        </div>
    </div>

    <hr id="Tips" />

    <div class="row">
        <div class="col-md">
            <h2>Tips</h2>
            <p>
                <em>A growing number</em> of commercial publishers open short reading windows for unpublished authors to have a sample of their work read, thus dispensing with the services of an agent (if successful!)
            </p>
            <p>
                <em>There are also competitions</em> where parts of your manuscript may gain a referral to a mainstream publisher as a prize.
            </p>
            <p>
                <em>Interest</em> is more likely to be generated if the author has a second, and ideally third, book in the pipeline.
            </p>
        </div>
    </div>

    <hr id="ContactMe" />

    <div class="row">
        <div class="col-md">
            <h2>Contact Me</h2>
            <p>
                Finally, feel free to contact me with any writing related comments or questions. I was an Agony Aunt once but that's another story.
            </p>
        </div>
    </div>
</div>