@page
@model AuthorAnne.Pages.ReviewsModel
@{
    ViewData["Title"] = "Reviews";
}

<div class="container" id="WishingShelfBookAwards">
    <div class="row">
        <div class="col-md">
            <h2>The Wishing Shelf Book Awards 2014 for Sleeping With The Dragon</h2>
            <p>
                Four stars/highly recommended. Out of seventeen readers, fifteen would read another book by this author.
            </p>
        </div>
    </div>

    <hr id="ReadersComments" />

    <div class="row">
        <div class="col-md">
            <h2>Readers' Comments</h2>
            <p>
                There's nothing better than spending a week with a book written by an author who really understands the importance of setting. Very richly described and, on top of that, a twisty plot and even an element of fantasy. Be warned all readers of dragon books, this is not Eragon!                                                                  Female reader, aged 41
            </p>
            <p>
                Excellent read; unusual in many ways. I wasn't expecting this story from the title. The dragon is particularly interesting; I particularly like the way he was introduced.                                                                                  Male reader, aged 56
            </p>
            <p>
                Very descriptive. Interesting plot and Nils is sort of spooky.                                                                                       Male reader, aged 31
            </p>
            <p>
                Generally, this novel was pretty good. There's a lot going on here: an interesting mystery, a wonderfully described setting and an interesting and slightly unsettling character in the form of Nils.
            </p>
            <p>
                Female reader, aged 45
            </p>
            <p>
                Readers Comments via email
            </p>
            <p>
                Just a quick note to say how impressed I was with your book. I enjoyed it and it kept my interest to the very end, which is more than I can say for some much more established authors I've read recently. It read like a proper 'professional' novel. Well done!     I've lent it to my squash partner.                                              Male reader, aged 45
            </p>
            <p>
                I have just finished reading your book and loved it! I thought it was very clever and extremely readable, very well done. Huge congratulations are in order, it would be great if it could become one of "Richard and Judy's" book choices perhaps!Female reader aged 65
            </p>
        </div>
    </div>

    <hr id="JackMagnus" />

    <div class="row">
        <div class="col-md">
            <h2>Sleeping With The Dragon: Reviewed by Jack Magnus for Readers' Favorite (5 STARS)</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-3 align-self-center text-center">
            <img src="~/images/5StarReadersFavorite.png" alt="5 Star Readers' Favourite Award" class="img-fluid" />
        </div>
        <div class="col-lg-10 col-md-9">
            <p>
                Anne Wilson's psychological thriller, Sleeping With The Dragon, is aptly subtitled A Tale of Mortals, Myths and Mystery. Anna has thrown caution to the wind and decided to leave her teaching position in England to live in her family's summer flat in sunny Mallorca. She has already published a children's book and hopes to make her living continuing to do so. Her newest book stars a dragon and his princely companion. Anna's apartment is particularly hot and steamy in the humid Mallorca summer, and she spends hours typing out her notes on her laptop in the local coffee bar. One day, Anna sits down at a table near an older, but intriguing, gentleman. His name is Nils: he's a Danish ex-farmer who co-owns a restaurant and lives in a cave high over the city and the bay. Anna has had trouble picturing her dragon's cave in her mind and thinks visiting Nils' cave might solve her problem. She's drawn to the enigmatic and powerful man, but there's something not quite right. First, there's the locked room behind the bathroom and then there's the fact that Nils, who is very set in his ways, is slowly distancing Anna from her friends on the island.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <p>
                Once I opened Anne Wilson's Sleeping With The Dragon, I found myself enchanted by the dreamy, otherworldly environment of Mallorca in the summer. Anna and her fellow ex-pats live on a fairy-tale island, albeit a hot and humid one, surrounded by water and the exotic. Nils is courtly, virile, and absolutely terrifying, and Anna, while attracted to him, unconsciously casts him as the cave-living dragon in her story -- not the handsome prince as Nils suggests. Wilson's familiarity with Mallorca and its residents makes the island come alive in the reader's imagination and there are moments, like the Baha'i meeting, that really resonate. Best of all, interspersed throughout Sleeping With The Dragon is some of the most lovely and lyrical nature writing I've encountered in some time. Anne Wilson's Sleeping With The Dragon is complex but never complicated. There's a satisfying mystery to solve, an engaging heroine to follow and marvellous, lyrical prose in which to indulge.
            </p>
            <p>
                This is quite a remarkable book. I especially love the dragon's interludes and the nature descriptions. You held me spellbound all day yesterday, and I enjoyed every minute of it.
            </p>
        </div>
    </div>

    <hr id="DianeDonovan" />

    <div class="row">
        <div class="col-md">
            <h2>Reviewed by Diane Donovan: Senior Reviewer for The Midwest Book Review</h2>
            <p>
                Sleeping With The Dragon: A Tale of Mortals, Myths and Mystery tells of writer Anna, who develops a relationship with Danish man Nils, keeper of many secrets, not the least of which is what happened to his former wife. Nils lives in a cave-house and he won't let Anna fully into his world; so Anna and her friends decide to investigate what he's hiding, with surprising results.
            </p>
            <p>
                The first thing to note in Sleeping With The Dragon is that it provides a disparate contrast between fairy tale, myth, and modern-day reality. This means that while chapter headings assume the mythical, actual settings in fact contrast two different realities (as in a chapter headed 'Once Upon a Time' which contrasts its header with the opening sentence <em>"Yesterday was a strange day; A day when strange things happened."</em>)
            </p>
            <p>
                As Nils moves from being a loner and an acquaintance to someone more meaningful in her life, Anna discovers that he holds the power to introduce his darkness into her world, even reaching into her dreams with a threatening Nordic dragon.
            </p>
            <p>
                The last thing Anna anticipates is fantasy come to life, but her, <em>"mission as a writer (sic) is to remember and to note and sketch as much as possible"</em> leads to observations and conclusions that cannot be ignored. And as she makes sketches and notes to fill out her book, she slowly comes to realize how fantasy and her daily world are blending in unusual and dangerous ways.
            </p>
            <p>
                Sleeping With The Dragon is steeped in Mediterranean culture and atmosphere. At times Anna is surrounded by this sense of place and at other times she's immersed in her past, where she was once a children's teacher in England who dreamed of a writing career. Inheriting her parent's apartment when they died in the space of a year brought her into this strange new world of Mallorca, ripe with possibilities: <em>"the minute she stepped outside the plane in Palma airport, the warm scented air whispered enticingly. It spoke of tomorrows as yet unimagined, a blank page waiting to be written. The ratchets of the wheel of fate cranked soundlessly as she stepped down onto the tarmac."</em>
            </p>
            <p>
                The problem with possibility is its accompanying unpredictability: as Anna moves from a singular goal to wider-ranging encounters, she makes the dragon that has been haunting her the focus of her third children's book, seeks supplemental employment, and finds further mystery when her employer falls to his death in the middle of the night.
            </p>
            <p>
                As Anna's creations of the dragon, a cave, and a Wicked Queen come to life in her own world, she discovers that the boundaries she's carefully trusted to keep fantasy and reality separate are beginning to dissolve. And as she sleeps, the story comes to life in her head and heart: <em>"From the castles highest tower, the Wicked Queen surveyed the land by starlight. All she could see was hers, now she was married to the King. The Kingdom stretched beyond the Emerald Forest and the Luminous Lake, through the Terribly Tangled Woods and on to the snow-capped Mystical Mountains. Because of an ancient curse, the whole realm was covered, day and night, by the Star-Spangled Indigo Sky. The sky was beautiful but all the people wished the stars would go out and let them see the sun again."</em>
            </p>
            <p>
                There are wonderful, sensual displays of sights, smells and sounds throughout the story: <em>"Nils had left the cave-house and returned from the streets above with the Mallorcan speciality of thick, spiral ensimadas lightly dusted with icing sugar, and still-warm freshly baked bread rolls. He'd set them down on the table outside, next to a bowl of yoghurt, a plate of figs, pots of conserves, and slices of his favourite Danish Havarti cheese; there was silver-foiled Danish butter, which appeared at most mealtimes. Currents of morning air carried an aroma of freshly ground coffee across the pages of the Sunday paper he had placed beside Anna."</em>
            </p>
            <p>
                This is one strength of a novel which has the capacity to draw readers in on more than an emotional level, permeating its pages with tactile images and descriptions so juicy one can almost taste its rich atmosphere.
            </p>
            <p>
                Another strength: its ability to show how ghosts from disparate pasts rise to affect present-day relationships. As Anna comes to understand the confused tangle of past relationships that Nils finds burdensome, she also comes to realize that the real dragons of her story lie not within the pages of a children's book, but alive and too vivid in her own world. And as Anna and Nils come to understand each other's very different worlds, they venture together into new territory that will either join or break their newfound relationship.
            </p>
            <p>
                In some ways Sleeping With The Dragon could be described as a romance novel: but that would be too simplistic. It could also be described as murder mystery - but that would be putting too much emphasis on death and not enough upon the blossoming of atmosphere and relationship that is central to the story line.
            </p>
            <p>
                There's a surprise ending that reveals the real purpose of the Dragon overseeing both their lives; but the meat of the story lies in its ability to trace intersecting cycles of life and subconscious and unconscious influences on its progression. Any who want a complex read replete with evolution, change, and Danish folklore and atmosphere will find Sleeping With The Dragon a vivid, engrossing read.
            </p>
            <p>
                <strong>Our Midwest office will also archive the review on our web site for 5 years and will send it to Cengage Learning for inclusion in the Book Review Index that goes out to thousands of school and community libraries throughout the US.</strong>
            </p>
            <p>
                <a href="http://donovansbookshelf.weebly.com" target="_blank" rel="noopener">http://donovansbookshelf.weebly.com</a>
            </p>
        </div>
    </div>

    <hr id="KaytiNikaRaet" />

    <div class="row">
        <div class="col-md">
            <h2>Reviewed by Kayti Nika Raet for Readers' Favorite (4 STARS)</h2>
            <p>
                A mix of mystery, fantasy and romance. Sleeping With The Dragon by Anne Wilson is set on a lush Spanish island. English ex-pat and children’s author Anna meets Nils Christiansen, a Danish man with a mysterious past. Despite their differences an attraction quickly develops and they’re soon living together. Little do they know that they are being manipulated by unseen forces.
            </p>
            <p>
                Plot-wise, Sleeping With The Dragon was very good. I loved the slow build-up of tension and how things almost became claustrophobic as Anna's friends were slowly whittled away, one by one, leaving her more vulnerable to whatever disaster lay ahead. As for Nils' character, I was a little confused as to whether readers were supposed to view him as a bad guy or good guy. On one hand he's obviously the love of her life and cares very deeply about her, but on the other he's extremely prejudiced (especially given the fact that he's living in a foreign country) and a bit controlling. So when he tells Anna to stop seeing one of her Arab friends because he deals in the black market, you have to wonder if he's genuinely concerned or if it was just a convenient lie.
            </p>
            <p>
                In fact, a lot about Nils' character remained ambiguous till the end, which I kept going over in my head long after the last page was turned. Otherwise, an excellent read.
            </p>
        </div>
    </div>

    <hr id="TaniaStaley" />

    <div class="row">
        <div class="col-md">
            <h2>Reviewed by Tania Staley for Readers' Favorite (4 STARS)</h2>
            <p>
                Anne Wilson’s novel, Sleeping With The Dragon, is a tale that defies the boundaries of genre labels. Classified by the author as a mystery, this book is also fantasy, drama, and a romance. Wilson warns readers from the beginning that "Just because you can’t see them doesn’t mean they’re not there." While her message does not clarify who the “them” is, her warning should be heeded. There is much going on beneath the surface of this tale. Anna, the protagonist, is an ex-teacher and successful children's writer living in Palma. Her book series centres around a dragon and the adventures he gets into to protect the kingdom. Little does Anna know that her fairy tales may be more real than she ever could have imagined.
            </p>
            <p>
                Hoping to create a happily-ever-after for herself, Anna catches the interest of Nils, the mysterious and handsome Danish man who frequents her favourite coffee shop. Her efforts are rewarded, and she soon finds herself swept into a whirlwind romance. Though the passion is there, Anna knows little about her new fling. She loves his fantastical home, a cave that has been renovated into a luxurious home, the perfect inspiration for her last dragon tale. But what is he hiding in the locked storage room in the caverns of the house? Are those bats that she’s heard scratching, or is there something else lurking in the dark?
            </p>
            <p>
                Sleeping With The Dragon was an enjoyable read, and the hint of fantasy within was a fresh take on the mystery genre. Wilson’s ability to create palpable settings is to be admired. As I was reading, I could feel the heat of Palma, taste the Danish cuisine Nils cooked, and walk through the darkened corners of their cave-house. My only concern was that the romance between Nils and Anna felt a bit forced. Nils’ gruff and demanding demeanour seemed to clash with Anna’s adventurous and laid-back personality. However, this could easily be put aside by acknowledging that often opposites attract, and the intrigue of Wilson’s story carried it along. I recommend Anne Wilson’s Sleeping With The Dragon to anyone looking for a good mystery with a unique twist.
            </p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md text-center ReadersFav">
            <a href="//readersfavorite.com/?affiliateID=720" target="_blank" rel="noopener">
                <img src="//readersfavorite.com/affiliate/product_images/shiuxohacvedhpb.jpg" class="img-fluid" />
            </a>
        </div>
    </div>
</div>