@page
@model AuthorAnne.Pages.ShowcaseModel
@{
    ViewData["Title"] = "Showcase";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>Anthologies Including a Story of Mine</h2>
            <p>
                Anthologies which each include one of my stories with <em>On The Day of the Dead</em> using my story title for the cover. Plus Hysteria 2 and Hysteria 5 which I was priviledged to help judge; all jolly good selections.
            </p>
        </div>
    </div>
</div>

<div class="container gallery">
    <div class="row">
        <a href="~/images/Anthologies/Crackers.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Crackers: An Anthology" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/Crackers.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/OnTheDayOfTheDead.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="On The Day of The Dead" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/OnTheDayOfTheDead.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/Hysteria5.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Hysteria 5 Anthology" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/Hysteria5.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/ThePageIsPrinted.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="The Page is Printed 2016 Creative Writing Competition" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/ThePageIsPrinted.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/Oddisms.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="FB Presents: Oddisms" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/Oddisms.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/WriteToMeow2015.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Write To Meow: 2015" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/WriteToMeow2015.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/MomayaShortStoryReview2015.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Momaya Short Story Review 2015" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/MomayaShortStoryReview2015.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/IrrationalFears.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="FB Presents: Irrational Fears" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/IrrationalFears.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/LightInTheDark.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Light In The Dark" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/LightInTheDark.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/Hysteria2.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Hysteria 2: Short Story Anthology" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/Hysteria2.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/Hysteria1.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Hysteria 1: Short Story and Poetry Anthology" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/Hysteria1.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/ForeignAndFarAway.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Foreign and Far Away" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/ForeignAndFarAway.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/OutOfSeason.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Out of Season" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/OutOfSeason.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/WritersAbroad.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Writers Abroad: Short Story Anthology 2010" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/WritersAbroad.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/ForeignEncounters.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Foreign Encounters: by Writers Abroad" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/ForeignEncounters.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/SentinelChampions.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Sentinel Champions: #8" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/SentinelChampions.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/Debut.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Debut: Brand New Fiction" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/Debut.jpg" class="img-fluid img-thumbnail">
        </a>
        <a href="~/images/Anthologies/SixOfTheBest.jpg" data-toggle="lightbox" data-gallery="AuthorAnneGallery" class="col-sm-6 col-md-3" data-title="Six of The Best" data-footer="Anthologies @@ authoranne.co.uk">
            <img src="~/images/Anthologies/SixOfTheBest.jpg" class="img-fluid img-thumbnail">
        </a>
    </div>
</div>