<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthorAnne</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-toggleable-lg navbar-light bg-white mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/images/AuthorAnneLogo.png" class="img-fluid mx-auto d-block LogoNavbar" alt="Author Anne">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                @*<partial name="_LoginPartial" />*@
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-primary" href="https://www.feedaread.com/books/Here-Be-Dragons-9781784079925.aspx" target="_blank" rel="noopener">Buy Here Be Dragons</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle red" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Home</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-page="/Index" asp-fragment="News">Current News</a>
                            <a class="dropdown-item" asp-page="/Index" asp-fragment="Writing">Being a Writer / Becoming an Author</a>
                            <a class="dropdown-item" asp-page="/Index" asp-fragment="Tips">Tips</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/Index" asp-fragment="ContactMe">Contact Me</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">About</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-page="/About" asp-fragment="Me">About Me</a>
                            <a class="dropdown-item" asp-page="/About" asp-fragment="Writing">About Writing</a>
                            <a class="dropdown-item" asp-page="/About" asp-fragment="Tips">Tips</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-page="/About" asp-fragment="FirstNovel">About My First Novel</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle yellow" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Reviews</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-page="/Reviews" asp-fragment="WishingShelfBookAwards">The Wishing Shelf Book Awards 2014 for Here Be Dragons</a>
                            <a class="dropdown-item" asp-page="/Reviews" asp-fragment="ReadersComments">Readers' Comments</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Here Be Dragons Reviews</h6>
                            <a class="dropdown-item" asp-page="/Reviews" asp-fragment="JackMagnus">Jack Magnus for Readers' Favorite (5 STARS)</a>
                            <a class="dropdown-item" asp-page="/Reviews" asp-fragment="DianeDonovan">Diane Donovan: Senior Reviewer for The Midwest Book Review</a>
                            <a class="dropdown-item" asp-page="/Reviews" asp-fragment="KaytiNikaRaet">Kayti Nika Raet for Readers' Favorite (4 STARS)</a>
                            <a class="dropdown-item" asp-page="/Reviews" asp-fragment="TaniaStaley">Tania Staley for Readers' Favorite (4 STARS)</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark green" asp-page="/Anthologies">Anthologies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark red" asp-page="/Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="Paper">
                    <div class="PageCurlTop"></div>
                    <div class="PageCurlBottom"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <a asp-page="/">
                                    <img src="~/images/AuthorAnneLogo.png" class="img-fluid mx-auto d-block" alt="Author Anne">
                                </a>
                            </div>
                            <div class="col-lg text-center align-self-center">
                                <h1>authoranne.co.uk</h1>
                            </div>
                        </div>
                        <div class="row BuyBook">
                            <div class="col">
                                <div class="row">
                                    <div class="col text-center">
                                        <a href="https://www.feedaread.com/books/Here-Be-Dragons-9781784079925.aspx" target="_blank" rel="noopener">
                                            <img class="BuyBookImg" src="~/images/HereBeDragons2014.png" alt="Buy My Book - Here Be Dragons">
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="col text-center">
                                        <a href="https://www.feedaread.com/books/Here-Be-Dragons-9781784079925.aspx" target="_blank" rel="noopener" class="btn btn-sm btn-primary">
                                            Buy My Book
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <div class="col text-center">
                                        <a href="http://www.amazon.co.uk/gp/product/B00IE3U2PI" target="_blank" rel="noopener">
                                            <img class="BuyBookImg" src="~/images/HereBeDragonsModernTale.png" alt="Buy My Book - Here Be Dragons">
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="col text-center">
                                        <a href="http://www.amazon.co.uk/gp/product/B00IE3U2PI" target="_blank" rel="noopener" class="btn btn-sm btn-primary">
                                            Buy My Book
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<partial name="_CookieConsentPartial" />*@
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                        <div class="row">
                            <div class="col-md text-center ReadersFav">
                                <a href="http://readersfavorite.com/?affiliateID=720" target="_blank" rel="noopener">
                                    <img src="http://readersfavorite.com/affiliate/product_images/shiuxohacvedhpb.jpg" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer text-muted">
                    <div class="container text-center">
                        &copy; 2018 - Author Anne
                    </div>
                </footer>
            </div>
        </div>
    </div>
    
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
        <script src="~/lib/ekko-lightbox/ekko-lightbox.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
