@font-face {
    font-family: 'BradleyHandITC';
    src: url('/fonts/BRADHITC.eot');
    src: url('/fonts/BRADHITC.eot?#iefix') format('embedded-opentype'), url('/fonts/BRADHITC.woff') format('woff'), url('/fonts/BRADHITC.ttf') format('truetype'), url('/fonts/BRADHITC.svg#BradleyHandITC') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Traveling _Typewriter';
    src: url('/fonts/TravelingTypewriter.woff2') format('woff2'), url('/fonts/TravelingTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #2b61a9 url(/images/SpanishTilesBackground.gif);
}

.LogoNavbar {
    max-height: 60px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.Paper {
    background: #f6f7e0 url(/images/ParchementBackground.png);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Paper .PageCurlTop {
    background-image: url(/images/PageCurlTop.png);
    width: 120px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.Paper .PageCurlBottom {
    background-image: url(/images/PageCurlBottom.png);
    width: 120px;
    height: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.pb-3 {
    margin-top: 50px;
}

h1 {
    color: #d51f45;
    font-weight: bold;
    font-size: 3em;
    font-family: BradleyHandITC, serif;
}

h2 {
    color: #2b61a9;
    font-family: Traveling _Typewriter, serif;
}

h3 {
    font-family: Traveling _Typewriter, serif;
}

hr {
    display: block;
    border: 0px;
    height: 24px;
    background-image: url(/images/FlowerDivider.png);
    margin-bottom: 40px;
}

.navbar {
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    font-family: Traveling _Typewriter, serif;
    font-weight: bold;
    font-size: 1.2em;
}

.blue {
	color: #1a9ead;	
}

.blue a:link,
.blue a:active,
.blue a:visited {
	color: #1a9ead;	
}

.blue a:hover {
	color: #d51f45;	
}

.yellow {
	color: #ebb90e;	
}

.yellow a:link,
.yellow a:active,
.yellow a:visited {
	color: #ebb90e;	
}

.yellow a:hover {
	color: #b4ad17;	
}

.green {
	color: #b4ad17;	
}

.green a:link,
.green a:active,
.green a:visited {
	color: #b4ad17;	
}

.green a:hover {
	color: #1a9ead;	
}

.white {
	color: #FFF;	
}

.white a:link,
.white a:active,
.white a:visited {
	color: #FFF;	
}

.white a:hover {
	color: #d51f45;	
}

.red {
	color: #d51f45;	
}

.red a:link,
.red a:active,
.red a:visited {
	color: #d51f45;	
}

.red a:hover {
	color: #FFF;	
}

@media (min-width: 576px) {
    .BuyBook {

    }
}

@media (min-width: 768px) {
    .BuyBook {
        
    }
}

@media (min-width: 992px) {
    .BuyBook {
        position: absolute;
        top: 170px;
        right: 50px;
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .BuyBook {
        position: absolute;
        top: 170px;
        right: 50px;
        width: 600px;
    }
}

.BuyBook .BuyBookImg {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 8px;
}

.ReadersFav {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #d51f45;
    border-color: #d51f45;
}

.btn-primary:hover {
    background-color: #b4ad17;
    border-color: #b4ad17;
}

/*Navbar style from https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0 */
.navbar {
  background-color: #ffffff !important;
}
.navbar .navbar-brand {
  color: #d51f45 !important;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff !important;
}
.navbar .navbar-text {
  color: #d51f45 !important;
}
.navbar .navbar-text a {
  color: #ffffff !important;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff !important; 
}
.navbar .navbar-nav .nav-link {
  color: #d51f45 !important;
  border-radius: .25rem !important;
  margin: 0 0.25em !important;
}

.navbar .navbar-nav .nav-link.blue {
    color: #1a9ead !important;
}

.navbar .navbar-nav .nav-link.yellow {
    color: #ebb90e !important;
}

.navbar .navbar-nav .nav-link.green {
    color: #b4ad17 !important;
}

.navbar .navbar-nav .nav-link.red {
    color: #d51f45 !important;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #b4ad17 !important;
}

.navbar .navbar-nav .nav-link.green:not(.disabled):hover,
.navbar .navbar-nav .nav-link.green:not(.disabled):focus {
  color: #d51f45 !important;
}

.navbar .navbar-nav .dropdown-menu {
  background-color: #ffffff !important;
  border-color: #d51f45 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #d51f45 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ffffff !important;
  background-color: #d51f45 !important;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #d51f45 !important;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff !important;
  background-color: #d51f45 !important;
}
.navbar .navbar-toggle {
  border-color: #d51f45 !important;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #d51f45 !important;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #d51f45 !important;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #d51f45 !important;
}
.navbar .navbar-link {
  color: #d51f45 !important;
}
.navbar .navbar-link:hover {
  color: #ffffff !important;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d51f45 !important;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff !important;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff !important;
    background-color: #d51f45 !important;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d51f45 !important;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff !important;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff !important;
    background-color: #d51f45 !important;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d51f45 !important;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff !important;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff !important;
    background-color: #d51f45 !important;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d51f45 !important;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff !important;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff !important;
    background-color: #d51f45 !important;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #d51f45 !important;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff !important;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff !important;
  background-color: #d51f45 !important;
}